.gigCard {
  width: 324px;
  height: 450px;
  border: 1px solid rgb(228, 228, 228);
  margin-bottom: 40px;
}

.gigCard img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.gigCard .info {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
}

.gigCard .info .user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.gigCard .info .user img {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  object-fit: cover;
}

.gigCard .info p {
  color: #111;
  overflow: hidden;
  /* Set a specific height for the paragraph */
  max-height: 60px; /* Adjust the height to show three lines of text */
  /* Apply CSS text overflow properties */
  white-space: normal; /* Use normal instead of nowrap to allow wrapping */
  text-overflow: ellipsis;
  /* Add support for multiple lines before truncation */
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.gigCard .info .star {
  display: flex;
  align-items: center;
  gap: 5px;
}

.gigCard .info .star img {
  height: 14px;
  width: 14px;
}

.gigCard .info .star span {
  font-size: 14px;
  font-weight: bold;
  color: #ffc108;
}

.gigCard hr {
  height: 0;
  border: 0.5px solid rgb(228, 228, 228);
}

.gigCard .detail {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.gigCard .detail img {
  width: 16px;
  height: 16px;
  cursor: pointer;
  object-fit: cover;
}

.gigCard .detail .price span {
  color: #999;
  font-size: 12px;
}

.gigCard .detail h2 {
  color: #555;
  font-size: 18px;
  font-weight: 400;
  text-align: end;
}

.gigCard .detail sup {
  font-size: 12px;
  font-weight: 300;
}
